        <span id="date_and_time"></span></br>
<div id="all_stops">
        {%- for stop in all_stops %}
        <span id="stop_name">{{stop['stopName']}}</span></br>
        {% for bus in stop['busses'] -%}
        {% if 'noInfo' in bus %}
        <span id="no_info">{{bus.noInfo}}</span></br>
        {% else %}
        <span class="number">{{bus.number}}</span><span class="lineName">{{bus.lineName}}</span><span class="destinationName">{{bus.destinationName}}</span><span class="arrival_time">{{bus.arrivalTime}}</span><span class="due_in">{{bus.dueIn}}</span></br>
        {% endif %}
        {% endfor -%}
        </br>
        {% endfor -%}
</div>
