<div id="all_stops">
  {% for stop in all_stops %}
    <span id="stop_name">{{ stop['stopName'] }}</span><br>
    {% for line in stop['arrivals'] %}
      {% if 'noInfo' in line %}
        <span id="no_info">{{ line.noInfo }}</span><br>
      {% else %}
        <div class="line-row">
          <span class="number">{{ line.number }}</span>
          <span class="lineName {{ 'right-align' if line.lineName|length <= 4 else 'left-align' }}">{{ line.lineName }}</span>
          <span class="destinationName">{{ line.destinationName }}</span>
          <span class="arrival_time">{{ line.arrivalTime }}</span>
          <span class="due_in">{{ line.dueIn }}</span>
        </div>
      {% endif %}
    {% endfor %}
    <br>
  {% endfor %}
</div>
