[Unit]
Description=busstop client
Requires=graphical.target
After=graphical.target

[Service]
User=pi
Group=pi
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/usr/bin/midori --display=:0 --private --execute fullscreen  http://localhost
Restart=always

[Install]
WantedBy=graphical.target
