[Unit]
Description=busstop server
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/busstop/flask_app
ExecStart=/home/pi/busstop/flask_app/venv/bin/gunicorn --bind localhost:8000 --workers 1 --threads 5 --log-level=debug main:app
Restart=always

[Install]
WantedBy=multi-user.target
