[Unit]
Description=busstop server
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/busstop/flask_app
ExecStart=/home/pi/busstop/flask_app/venv/bin/gunicorn -b localhost:8000 -w 2 busstop:app
Restart=always

[Install]
WantedBy=multi-user.target
