[Unit]
Description=busstop client
Requires=graphical.target
After=graphical.target

[Service]
User=pi
Group=pi
Environment=DISPLAY=:0.0
Environment=XDG_RUNTIME_DIR="/run/user/1000"
ExecStart=/usr/bin/chromium-browser --no-memcheck http://localhost \
    --kiosk \
    --noerrdialogs \
    --disable-infobars \
    --no-first-run \
    --ozone-platform=wayland \
    --enable-features=OverlayScrollbar \
    --start-maximized
Restart=always

[Install]
WantedBy=graphical.target
