[Unit]
Description=busstop
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/busstop
ExecStart=/home/pi/busstop/venv/bin/gunicorn -b localhost:8000 -w 1 app:app
Restart=always

[Install]
WantedBy=multi-user.target
